mixin product(type)
    include data
    - const product = products[type]
    .page-1__product(class=type)
        .page-1__product-pic
            .page-1__product-count
                img(src=product.count)
            .page-1__product-img
                img(src=product.img alt=product.title)
        .page-1__product-data
            .page-1__product-title!=product.title
            .page-1__product-subtitle!=product.subtitle

section#prizes.page.page-1.js-page
    .container.container_page-1
        .content.content__left
            h3.title Условия
            .page-1__text
                ol.page-1__list
                    li
                        | Совершить покупку в однои из магазинов “Новекс” товаров, под торговой маркой “Domestos ECO”
                    li
                        | Получить на кассе кассовый чек, выдаваемый в момент совершения покупки, содержащий поздравительный текст и информацию о регистрации уникального кода для участия в розыгрыше
                    li
                        | Подтвердить своё желание участвовать в розыгрыше, заполнив регистрацию на сайте domestos.novex.ru и ждать подведения розыгрыша
            a(href='#register').button.button--small.page-1__button.js-scroll-link
                span.button__text Зарегистрироваться
        .content.content__right
            .page-1__prizes
                h3.title Призы
                .page-1__product-list
                    +product('card')
                    +product('robot')


